<% if @shirt.errors.any? %>
<div class="errors">
	<h4>There were problems creating this shirt</h4>
	<ul>
	<% @shirt.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
</div>

<% end %>

<%= form_for @shirt, :html => {:class=> 'mycssclass'} do |f| %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<%= f.submit %> or <%= link_to "Cancel", shirts_path %>
 

<% end %>