<%= form_for @movie do |m| %>

	<div>
		<%= m.label :title %>
		<%= m.text_field :title %>
	</div>
	<div>
		<%= m.label :year_released %>
		<%= m.text_field :year_released %>
	</div>
	<div>
		<%= m.label :description %>
		<%= m.text_area :description %>
	</div>
	<div>
		<%= m.submit %> or <%= link_to "Nah, nevermind", movie_path(@movie) %>
	</div>
<% end %>